.UsersStack {
  display: flex;
  align-items: center;
  color: var(--text_secondary);
}

.UsersStack--v {
  flex-direction: column;
  justify-content: center;
}

.UsersStack--ios {
  padding: 8px 12px;
}

.UsersStack--android {
  padding: 8px 16px;
}

.UsersStack__photos {
  display: flex;
}

.UsersStack__photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.UsersStack__photo--others {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background: var(--content_placeholder_icon);
}

.UsersStack__photo + .UsersStack__photo {
  margin-left: -2px;
}

.UsersStack--size-s .UsersStack__photo {
  width: 24px;
  height: 24px;
}

.UsersStack--size-s .UsersStack__photo + .UsersStack__photo {
  clip-path: url(#users_stack_mask_24_left);
}

.UsersStack--size-m .UsersStack__photo {
  width: 32px;
  height: 32px;
}

.UsersStack--size-m .UsersStack__photo + .UsersStack__photo {
  clip-path: url(#users_stack_mask_32_left);
}

.UsersStack--with-others.UsersStack--size-m .UsersStack__photo {
  clip-path: url(#users_stack_mask_32_right);
}

.UsersStack--with-others.UsersStack--size-m .UsersStack__photo:last-child {
  clip-path: none;
}

.UsersStack__text {
  min-width: 0;
  flex: 1;
  margin: 0 0 0 8px;
  font-size: 13px;
  line-height: 16px;
}

.UsersStack--v .UsersStack__text {
  margin: 8px 0 0;
  text-align: center;
}