.View--android {
  font-family: var(--font-android);
}

.View--android.View--header .Panel__in {
  padding-top: 56px;
}

.View--android.View--header .FixedLayout--top {
  top: 56px;
}

/**
 * Panel transition
 */
.View--android .View__panel--next ~ .View__panel--prev {
  animation: animation-android-prev-back .3s var(--android-easing);
}

.View--android .View__panel--prev ~ .View__panel--next {
  animation: animation-android-next-forward .3s var(--android-easing);
}

/**
 * Active panel
 */
.View--android .View__panel--active::before {
  content: none;
}

@keyframes animation-android-prev-back {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(80px);
  }
}

@keyframes animation-android-next-forward {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
