.TabsItem {
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.Tabs--default .TabsItem {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  }

  .TabsItem__after {
    margin-left: 8px;
    }

/*
  iOS
 */
.Tabs--ios.Tabs--default .TabsItem {
  height: 32px;
  border: 1px solid;
  font-size: 14px;
  line-height: 18px;
  padding: 0 12px;
  }

.Tabs--ios.Tabs--default .TabsItem:not(:first-child) {
  border-left: none;
  }

.Tabs--ios.Tabs--default .TabsItem:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  }

.Tabs--ios.Tabs--default .TabsItem:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  }

.Tabs--ios.Tabs--default.Tabs--light .TabsItem {
  border-color: var(--segmented_control_tint);
  color: var(--segmented_control_tint);
  }

.Tabs--ios.Tabs--default.Tabs--light .TabsItem--selected {
  background-color: var(--segmented_control_tint);
  }

.Panel--tm-gray .Tabs--ios.Tabs--default.Tabs--light .TabsItem--selected {
  color: var(--background_page);
  }

.Panel--tm-white .Tabs--ios.Tabs--default.Tabs--light .TabsItem--selected {
  color: var(--background_content);
  }

.Tabs--ios.Tabs--default.Tabs--light .TabsItem:not(.TabsItem--selected).Tappable--active {
  background: var(--separator_common);
  }

.Tabs--ios.Tabs--default.Tabs--header .TabsItem:not(.TabsItem--selected).Tappable--active .TabsItem__in {
  opacity: .7;
  }

.Tabs--ios.Tabs--default.Tabs--header .TabsItem {
  border-color: var(--header_tint);
  color: var(--header_tint);
  }

.Tabs--ios.Tabs--default.Tabs--header .TabsItem--selected {
  background-color: var(--header_tint);
  color: var(--header_background);
  }

.Tabs--ios.Tabs--buttons .TabsItem {
  height: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  }

/* Для случая, когда внутри Tabs нет HorizontalScroll */
.Tabs--ios.Tabs--buttons > .TabsItem:first-child {
  margin-left: 8px;
  }

.Tabs--ios.Tabs--buttons .TabsItem:not(:last-child) {
  margin-right: 8px;
  }

.Tabs--ios.Tabs--buttons.Tabs--header .TabsItem {
  background-color: var(--header_background);
  color: var(--header_tab_inactive_text);
  }

.Tabs--ios.Tabs--buttons.Tabs--header .TabsItem--selected {
  background-color: var(--header_tab_active_background);
  color: var(--header_tab_active_text);
  }

.Tabs--ios.Tabs--buttons.Tabs--light .TabsItem {
  color: var(--panel_tab_inactive_text);
  }

.Tabs--ios.Tabs--buttons.Tabs--light .TabsItem--selected {
  background-color: var(--panel_tab_active_background);
  color: var(--panel_tab_active_text);
  }

/*
  Android
 */
.Tabs--android .TabsItem {
  height: 48px;
  font-size: 14px;
  position: relative;
  }

  .Tabs--android .TabsItem--selected::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    display: block;
    content: '';
    }

.Tabs--android.Tabs--light .TabsItem {
  color: var(--text_secondary);
  }

.Tabs--android.Tabs--light .TabsItem.Tappable--active {
  background: var(--background_highlighted);
  }

.Tabs--android.Tabs--light .TabsItem--selected {
  color: var(--accent);
  }

  .Tabs--android.Tabs--light .TabsItem--selected::after {
    background-color: var(--accent);
    }

.Tabs--android.Tabs--header .TabsItem {
  color: var(--header_tint);
  }

.Tabs--android.Tabs--header .TabsItem.Tappable--active {
  background-color: rgba(255, 255, 255, .1);
  }

  .Tabs--android.Tabs--header .TabsItem .TabsItem__in {
    opacity: .7;
    text-transform: uppercase;
    }

  .Tabs--android.Tabs--header .TabsItem--selected .TabsItem__in {
    opacity: 1;
    }

  .Tabs--android.Tabs--header .TabsItem--selected::after {
    background-color: var(--header_tint);
    }

.Tabs--android.Tabs--header .TabsItem.Tappable--active {
  background-color: var(--white_alpha12);
  }

.Tabs--android.Tabs--buttons .TabsItem {
  padding-left: 12px;
  padding-right: 12px;
  }