.Header {
  user-select: text;
  }

  .Header__in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .Header__content {
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .Header--level-1 .Header__content {
      color: var(--text_primary);
      font-size: 17px;
      line-height: 20px;
      font-weight: 500;
      }

    .Header--level-2 .Header__content {
      color: var(--text_secondary);
      font-size: 13px;
      line-height: 15px;
      font-weight: 600;
      text-transform: uppercase;
      }

    .Header__indicator {
      margin-left: 10px;
      margin-right: auto;
      }

    .Header__aside {
      white-space: nowrap;
      margin-left: 12px;
      }

.Header--ios {
  padding: 0 12px;
  }

  .Header--ios .Header__aside {
    font-size: 15px;
    }

  .Header--ios.Header--level-1 .Header__content {
    padding: 14px 0;
    }

  .Header--ios.Header--level-2 .Header__content {
    padding: 15px 0 14px;
    }

.Header--android {
  padding: 0 16px;
  }

  .Header--android .Header__aside {
    font-size: 14px;
    font-weight: 500;
    }

  .Header--android.Header--level-1 .Header__content {
    padding: 18px 0;
    }

  .Header--android.Header--level-2 .Header__content {
    padding: 15px 0 14px;
    }