.Footer {
  margin: 24px 0;
  font-size: 13px;
  color: var(--text_secondary);
  line-height: 16px;
  font-weight: normal;
  text-align: center;
}

.Div.Footer {
  padding-top: 0;
  padding-bottom: 0;
}
